/* ==========================================================================
   Variables
   ========================================================================== */

//Type settings

$base-font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
$heading-font: Arial, "Helvetica Neue", Helvetica, sans-serif;

$base-font-size: 16px;
$base-line-height: 24px;

$h1-size: 36px;
$h2-size: 30px;
$h3-size: 24px;
$h4-size: 20px;
$h5-size: 16px;
$h6-size: 14px;


// Layout
$base-spacing-unit: 20px;
$half-spacing-unit: 10px;

// Colour settings
$primary-a:#fff;
$primary-b:#b3d4fc;
$primary-c:#ccc;
$primary-d:#000;

/* ==========================================================================
   Bootstrap Overrides
   ========================================================================== */

$icon-font-path: "fonts/vendor/bootstrap/";