@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Fredoka+One);
@import "src/base";

body {
  /** To edit this background, follow this link:
http://svgeneration.com/generate/GPlay?height=14&width=14&background=ededed&overlay=ffffff&weight=25&padding=0&
*/
  background-color: #ededed;background-image:url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHhtbG5zOnhsaW5rPSdodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rJyB3aWR0aD0nODQwJyBoZWlnaHQ9JzQyMCcgdmlld0JveD0nMCAwIDE2OCA4NCc+Cgk8ZGVmcz4KCQk8cGF0aCBpZD0ncycgZmlsbD0nI2ZmZmZmZicgZD0nTTAsMGwxNCA3bC0xNCw3eicvPgoJPC9kZWZzPgoJPGcgaWQ9J2InPgoJPHVzZSB4PSctMTQnIHk9Jy03JyB0cmFuc2Zvcm09J21hdHJpeCgtMSAwIDAgMSAwIDApJyBmaWxsLW9wYWNpdHk9JzAuNScgeGxpbms6aHJlZj0nI3MnIC8+Cgk8dXNlIHg9JzAnIHk9JzAnIGZpbGwtb3BhY2l0eT0nMC43NScgeGxpbms6aHJlZj0nI3MnIC8+Cgk8dXNlIHg9Jy0xNCcgeT0nNycgdHJhbnNmb3JtPSdtYXRyaXgoLTEgMCAwIDEgMCAwKScgZmlsbC1vcGFjaXR5PScwLjc1JyB4bGluazpocmVmPScjcycgLz4KCTx1c2UgeD0nMCcgeT0nMTQnIGZpbGwtb3BhY2l0eT0nMC43NScgeGxpbms6aHJlZj0nI3MnIC8+Cgk8dXNlIHg9Jy0xNCcgeT0nMjEnIHRyYW5zZm9ybT0nbWF0cml4KC0xIDAgMCAxIDAgMCknIGZpbGwtb3BhY2l0eT0nMScgeGxpbms6aHJlZj0nI3MnIC8+Cgk8dXNlIHg9JzAnIHk9JzI4JyBmaWxsLW9wYWNpdHk9JzAuNScgeGxpbms6aHJlZj0nI3MnIC8+Cgk8dXNlIHg9Jy0xNCcgeT0nMzUnIHRyYW5zZm9ybT0nbWF0cml4KC0xIDAgMCAxIDAgMCknIGZpbGwtb3BhY2l0eT0nMC41JyB4bGluazpocmVmPScjcycgLz4KCTx1c2UgeD0nMTQnIHk9Jy03JyBmaWxsLW9wYWNpdHk9JzAuNzUnIHhsaW5rOmhyZWY9JyNzJyAvPgoJPHVzZSB4PSctMjgnIHk9JzAnIHRyYW5zZm9ybT0nbWF0cml4KC0xIDAgMCAxIDAgMCknIGZpbGwtb3BhY2l0eT0nMScgeGxpbms6aHJlZj0nI3MnIC8+Cgk8dXNlIHg9JzE0JyB5PSc3JyBmaWxsLW9wYWNpdHk9JzAuNzUnIHhsaW5rOmhyZWY9JyNzJyAvPgoJPHVzZSB4PSctMjgnIHk9JzE0JyB0cmFuc2Zvcm09J21hdHJpeCgtMSAwIDAgMSAwIDApJyBmaWxsLW9wYWNpdHk9JzAuNScgeGxpbms6aHJlZj0nI3MnIC8+Cgk8dXNlIHg9JzE0JyB5PScyMScgZmlsbC1vcGFjaXR5PScwLjI1JyB4bGluazpocmVmPScjcycgLz4KCTx1c2UgeD0nLTI4JyB5PScyOCcgdHJhbnNmb3JtPSdtYXRyaXgoLTEgMCAwIDEgMCAwKScgZmlsbC1vcGFjaXR5PScwLjUnIHhsaW5rOmhyZWY9JyNzJyAvPgoJPHVzZSB4PScxNCcgeT0nMzUnIGZpbGwtb3BhY2l0eT0nMC43NScgeGxpbms6aHJlZj0nI3MnIC8+Cgk8dXNlIHg9Jy00MicgeT0nLTcnIHRyYW5zZm9ybT0nbWF0cml4KC0xIDAgMCAxIDAgMCknIGZpbGwtb3BhY2l0eT0nMC41JyB4bGluazpocmVmPScjcycgLz4KCTx1c2UgeD0nMjgnIHk9JzAnIGZpbGwtb3BhY2l0eT0nMC41JyB4bGluazpocmVmPScjcycgLz4KCTx1c2UgeD0nLTQyJyB5PSc3JyB0cmFuc2Zvcm09J21hdHJpeCgtMSAwIDAgMSAwIDApJyBmaWxsLW9wYWNpdHk9JzAuNzUnIHhsaW5rOmhyZWY9JyNzJyAvPgoJPHVzZSB4PScyOCcgeT0nMTQnIGZpbGwtb3BhY2l0eT0nMC41JyB4bGluazpocmVmPScjcycgLz4KCTx1c2UgeD0nLTQyJyB5PScyMScgdHJhbnNmb3JtPSdtYXRyaXgoLTEgMCAwIDEgMCAwKScgZmlsbC1vcGFjaXR5PScwLjI1JyB4bGluazpocmVmPScjcycgLz4JCgk8dXNlIHg9JzI4JyB5PScyOCcgZmlsbC1vcGFjaXR5PScwLjUnIHhsaW5rOmhyZWY9JyNzJyAvPgoJPHVzZSB4PSctNDInIHk9JzM1JyB0cmFuc2Zvcm09J21hdHJpeCgtMSAwIDAgMSAwIDApJyBmaWxsLW9wYWNpdHk9JzAuNScgeGxpbms6aHJlZj0nI3MnIC8+Cgk8dXNlIHg9JzQyJyB5PSctNycgZmlsbC1vcGFjaXR5PScwLjUnIHhsaW5rOmhyZWY9JyNzJyAvPgoJPHVzZSB4PSctNTYnIHk9JzAnIHRyYW5zZm9ybT0nbWF0cml4KC0xIDAgMCAxIDAgMCknIGZpbGwtb3BhY2l0eT0nMC41JyB4bGluazpocmVmPScjcycgLz4KCTx1c2UgeD0nNDInIHk9JzcnIGZpbGwtb3BhY2l0eT0nMC4yNScgeGxpbms6aHJlZj0nI3MnIC8+Cgk8dXNlIHg9Jy01NicgeT0nMTQnIHRyYW5zZm9ybT0nbWF0cml4KC0xIDAgMCAxIDAgMCknIGZpbGwtb3BhY2l0eT0nMC43NScgeGxpbms6aHJlZj0nI3MnIC8+Cgk8dXNlIHg9JzQyJyB5PScyMScgZmlsbC1vcGFjaXR5PScwLjc1JyB4bGluazpocmVmPScjcycgLz4KCTx1c2UgeD0nLTU2JyB5PScyOCcgdHJhbnNmb3JtPSdtYXRyaXgoLTEgMCAwIDEgMCAwKScgZmlsbC1vcGFjaXR5PScwLjI1JyB4bGluazpocmVmPScjcycgLz4KCTx1c2UgeD0nNDInIHk9JzM1JyBmaWxsLW9wYWNpdHk9JzAuNScgeGxpbms6aHJlZj0nI3MnIC8+Cgk8dXNlIHg9Jy03MCcgeT0nLTcnIHRyYW5zZm9ybT0nbWF0cml4KC0xIDAgMCAxIDAgMCknIGZpbGwtb3BhY2l0eT0nMC43NScgeGxpbms6aHJlZj0nI3MnIC8+CQoJPHVzZSB4PSc1NicgeT0nMCcgZmlsbC1vcGFjaXR5PScxJyB4bGluazpocmVmPScjcycgLz4KCTx1c2UgeD0nLTcwJyB5PSc3JyB0cmFuc2Zvcm09J21hdHJpeCgtMSAwIDAgMSAwIDApJyBmaWxsLW9wYWNpdHk9JzAuMjUnIHhsaW5rOmhyZWY9JyNzJyAvPgoJPHVzZSB4PSc1NicgeT0nMTQnIGZpbGwtb3BhY2l0eT0nMC41JyB4bGluazpocmVmPScjcycgLz4KCTx1c2UgeD0nLTcwJyB5PScyMScgdHJhbnNmb3JtPSdtYXRyaXgoLTEgMCAwIDEgMCAwKScgZmlsbC1vcGFjaXR5PScwLjc1JyB4bGluazpocmVmPScjcycgLz4KCTx1c2UgeD0nNTYnIHk9JzI4JyBmaWxsLW9wYWNpdHk9JzAuMjUnIHhsaW5rOmhyZWY9JyNzJyAvPgoJPHVzZSB4PSctNzAnIHk9JzM1JyB0cmFuc2Zvcm09J21hdHJpeCgtMSAwIDAgMSAwIDApJyBmaWxsLW9wYWNpdHk9JzAuNzUnIHhsaW5rOmhyZWY9JyNzJyAvPgoJPHVzZSB4PSc3MCcgeT0nLTcnIGZpbGwtb3BhY2l0eT0nMC41JyB4bGluazpocmVmPScjcycgLz4KCTx1c2UgeD0nLTg0JyB5PScwJyB0cmFuc2Zvcm09J21hdHJpeCgtMSAwIDAgMSAwIDApJyBmaWxsLW9wYWNpdHk9JzAuNScgeGxpbms6aHJlZj0nI3MnIC8+CQoJPHVzZSB4PSc3MCcgeT0nNycgZmlsbC1vcGFjaXR5PScxJyB4bGluazpocmVmPScjcycgLz4KCTx1c2UgeD0nLTg0JyB5PScxNCcgdHJhbnNmb3JtPSdtYXRyaXgoLTEgMCAwIDEgMCAwKScgZmlsbC1vcGFjaXR5PScwLjUnIHhsaW5rOmhyZWY9JyNzJyAvPgkKCTx1c2UgeD0nNzAnIHk9JzIxJyBmaWxsLW9wYWNpdHk9JzAuNzUnIHhsaW5rOmhyZWY9JyNzJyAvPgoJPHVzZSB4PSctODQnIHk9JzI4JyB0cmFuc2Zvcm09J21hdHJpeCgtMSAwIDAgMSAwIDApJyBmaWxsLW9wYWNpdHk9JzAuNScgeGxpbms6aHJlZj0nI3MnIC8+Cgk8dXNlIHg9JzcwJyB5PSczNScgZmlsbC1vcGFjaXR5PScwLjUnIHhsaW5rOmhyZWY9JyNzJyAvPgoJPC9nPgoJPHVzZSB4PSctODQnIHk9JzQyJyB0cmFuc2Zvcm09J21hdHJpeCgtMSAwIDAgMSAwIDApJyB4bGluazpocmVmPScjYicgLz4KCTx1c2UgeD0nLTE2OCcgeT0nLTI4JyB0cmFuc2Zvcm09J21hdHJpeCgtMSAwIDAgLTEgMCAwKScgeGxpbms6aHJlZj0nI2InIC8+Cgk8dXNlIHg9Jzg0JyB5PSctNTYnIHRyYW5zZm9ybT0nbWF0cml4KDEgMCAwIC0xIDAgMCknIHhsaW5rOmhyZWY9JyNiJyAvPgoJPHVzZSB4PSc4NCcgeT0nLTk4JyB0cmFuc2Zvcm09J21hdHJpeCgxIDAgMCAtMSAwIDApJyB4bGluazpocmVmPScjYicgLz4KPC9zdmc+Cg==');
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-family: 'Fredoka One', Arial, sans-serif;
  letter-spacing: -1px;
  color: #444;
  padding: 0.5em 0.5em 0.45em;
  animation: bounceInDown 0.6s;

  @media (min-width: 600px) {
    font-size: 3em;
    padding: 0 1.5em;
  }
  @media (orientation: landscape) {
    padding: 0 1.5em;
  }
}

@keyframes bounceInDown {
  0%, 60%, 75%, 90%, 100% {
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0);
  }

  75% {
    transform: translate3d(0, -10px, 0);
  }

  90% {
    transform: translate3d(0, 5px, 0);
  }

  100% {
    transform: none;
  }
}

.wrapper {
  position: absolute;
  left: 50%;
}



#container {
  margin: 0 auto;
  width: 100%;
  position: relative;
  margin-left: -50%;
  &.visible {
    animation: bounceInUp 0.6s 1;   
  }
}

@keyframes bounceInUp {
  0%, 60%, 75%, 90%, 100% {
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: translate3d(0, 3000px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, -20px, 0);
  }

  75% {
    transform: translate3d(0, 10px, 0);
  }

  90% {
    transform: translate3d(0, -5px, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

.credit {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 1em;
  opacity: 0.5;
  transition: opacity 100ms ease-in-out;

  &:hover {
    opacity: 1;
  }

  @media (max-width: 600px) {
    opacity: 0.1;
    margin: 1em 3em;
  }

}
p {
  font-family: Arial;
  font-size: 0.75em;
  letter-spacing: -0.5px;
  line-height: 1.4;
  color: #34495E;
  margin: 0;
  
  @media (max-width: 600px) and (orientation: landscape) {
    font-size: 0.7em;
  }
}
a {
  color: #e98b39; 
}