/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */


 html, body {
   height: 100%;
   min-height: 100%;
 }

html{
    font-size: 16px;
    -webkit-text-size-adjust: 100%;
}

body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: fixed;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #fff;
  text-shadow: none;
}

::selection {
  background: #fff;
  text-shadow: none;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
  margin: 0.2em 0;
  background: #444;
  color: #fff;
  padding: 0.2em 0;
}

