/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html{
    font:#{($base-font-size/16px)*1em}/#{$base-line-height} $base-font-family;
    overflow-y:scroll;
    min-height:100%;
}

body {
	background-color: $primary-a;
}
/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: $primary-b;
  text-shadow: none;
}

::selection {
  background: $primary-b;
  text-shadow: none;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
  margin: 0.2em 0;
  background: $primary-b;
  color: $primary-d;
  padding: 0.2em 0;
}

