/* ==========================================================================
   Type classes
   ========================================================================== */

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	font-family: $heading-font;
}

h1, .h1 {
	font-size: em($h1-size);
}

h2, .h2 {
	font-size: em($h2-size);
}

h3, .h3 {
	font-size: em($h3-size);
}

h4, .h4 {
	font-size: em($h4-size);
}

h5, .h5 {
	font-size: em($h5-size);
}

h6, .h6 {
	font-size: em($h6-size);
}

.intro {
	font-size: em($h4-size);
}