<h1>The amount of fucks I give</h1>

<div id="container"></div>

<div class="credit">
	<p>
		Made by <a href="https://twitter.com/nickuuuuu">@nickuuuuu</a>, using <a href="http://kineticjs.com/">KineticJS</a>, based on a tutorial which can be found 
		<a href="http://www.html5canvastutorials.com/labs/html5-canvas-wheel-of-fortune/">here</a>.
	</p>
	<p><a href="https://github.com/heynick/the-amount-of-fucks-i-give">Fork this on Github</a> if you're in to that kind of thing.</p>
</div>